# Dependencies
node_modules
.yarn/install-state.gz

# Build output
dist
dist-ssr
build

# Environment
*.local
.env
.env.*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*

# Test output
coverage
junit-report.xml
